<h1>Listing students</h1>

<table border="1">
  <thead>
    <tr>
      <th>Student number</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Subnro</th>
      <th>Submissions</th>
      <% (1..7).each do |week| %>
          <th> <%= week %> </th>
      <% end %>
      <% (1..7).each do |week| %>
          <th> <%= week %> </th>
      <% end %>
      <th>Total</th>
      <% (1..7).each do |week| %>
          <th> vc<%= week %> </th>
      <% end %>
      <th>VC</th>
      <th>non_wc_total</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.student_number, student %></td>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= student.submissions.count %></td>
        <td><%= student.submissions.map(&:week).sort %></td>
        <% (1..7).each do |week| %>
            <td> <%= student.total_at_week(week) %> </td>
        <% end %>
        <% (1..7).each do |week| %>
            <td> <%= student.challenging_at_week(week) %> </td>
        <% end %>
        <td><%= student.total %></td>
        <% (1..7).each do |week| %>
            <td> <%= student.vc(week) %> </td>
        <% end %>
        <td><%= student.vc_all %></td>
        <td><%= student.non_vc_total %></td>
        <td>
          <strong>
            <%= "DUPLICATE" if student.submissions.map(&:week).sort!=student.submissions.map(&:week).uniq.sort %>
          </strong>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
