<p id="notice"><%= notice %></p>

<h3>
  <%= @student.first_name %> <%= @student.last_name %> (<%= @student.student_number %>)
</h3>

<h3>submissions</h3>

<ul>
  <% @student.submissions.each do |submission| %>
    <li>
      week <%= link_to submission.week, submission_path(submission.identifier) %>
      marked <%= submission.total %>
    </li>
  <% end %>
</ul>

<p>
  <strong>Total:</strong>
  <%= @student.total %>
</p>

<p>
  <strong>Weeks:</strong>
  <%= @student.weeks %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
