
<%= form_for(@miniproject) do |f| %>
  <% if @miniproject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miniproject.errors.count, "error") %> prohibited this miniproject from being saved:</h2>

      <ul>
      <% @miniproject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'group name' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'your email' %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label 'Github link' %><br>
    <%= f.text_field :github %>
  </div>

  <% if @miniproject.persisted? %>
    <div class="field">
      <%= f.label 'customer meeting' %><br>
      <%= f.text_field :demo %>
    </div>
  <% end %>

  <div class="identifier">
    <%= f.hidden_field(:id, value:@miniproject.identifier) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
