<%= form_for(@miniproject) do |f| %>
  <% if @miniproject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miniproject.errors.count, "error") %> prohibited this miniproject from being saved:</h2>

      <ul>
      <% @miniproject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
