<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= @peer_review.target %>
</p>

<p>
  <strong>Score:</strong>
  <%= @peer_review.score %>
</p>

<p>
  <strong>Miniproject:</strong>
  <%= @peer_review.miniproject_id %>
</p>

<%= link_to 'Edit', edit_peer_review_path(@peer_review) %> |
<%= link_to 'Back', peer_reviews_path %>
