<h1><%= @questionnaire_answer.name %></h1>
<h1><%= @questionnaire_answer.id %></h1>

<%= render 'form' %>

<%= link_to 'Show', @questionnaire_answer %> |
<%= link_to 'Back', questionnaire_answers_path %>
