<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Student number</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Email</th>
      <th>Course</th>
      <th>Student</th>
      <th>Github</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.student_number %></td>
        <td><%= project.last_name %></td>
        <td><%= project.first_name %></td>
        <td><%= project.email %></td>
        <td><%= project.course_id %></td>
        <td><%= project.student_id %></td>
        <td><%= link_to project.github, project.github %></td>
        <td><%= link_to 'Show', project_path(project.key) %></td>
        <td><%= link_to 'Edit', edit_project_path(project.key) %></td>
        <td><%= link_to 'Destroy', project_path(project.key), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
