<p id="notice"><%= notice %></p>

<p>
  <strong>Student number:</strong>
  <%= @project.student_number %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @project.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @project.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github %>
</p>

