<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @questionnaire.questions.each do |question| %>
    <h3><%= question.description%></h3><br>
    <%= f.fields_for :questions, question do |q| -%>
      <% if question.type == "Free_question" %>
        <%= q.text_area :answer, :size=>"50x5", :style=>"padding:5px;"%> <br>
      <% else %>
        <%= q.select(:answer, options_for_select([question.option1, question.option2, question.option3, question.option4, question.option5])) %>
      <% end %>
    <% end -%>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
