<p id="notice"><%= notice %></p>

<h1>
  <%= @course.name %>
  <%= @course.term %>
</h1>

<ul>
  <li>
    <%= link_to "create a submission fow week #{@course.current_week}", new_submission_path  %>
  </li>
  <li>
    <%= link_to "course page", 'https://github.com/mluukkai/WebPalvelinohjelmointi2014/wiki/Web-palvelinohjelmointi-Ruby-on-Rails' %>
  </li>
</ul>

<h2>Statistics</h2>

<% @stats.each do | stat | %>
    <h3>Week <%= stat.week %></h3>

    <div>
        total submissions <%= stat.submissions %> <br>
        used time in average <%= stat.average_time %> hours <br>
        completed exercises in average <%= stat.average_exercises %> <br>
    </div>

    <br>

    <div>
    <t4>hours used:</t4>

    <table border="1">
      <tr>
        <td>hours</td>
        <% (0..stat.times.length-1).each do |t| %>
            <td><%= t %></td>
        <% end %>
      </tr>
      <td>students</td>
      <% (0..stat.times.length-1).each do |t| %>
          <td><%= stat.times[t] %></td>
      <% end %>
      </tr>
    </table>

    <t4>exercises completed</t4>

    <table border="1">
      <tr>
        <td>number</td>
        <% (0..stat.exercises.length-1).each do |t| %>
            <td><%= t %></td>
        <% end %>
      </tr>
      <td>students</td>
      <% (0..stat.exercises.length-1).each do |t| %>
          <td><%= stat.exercises[t] %></td>
      <% end %>
      </tr>
    </table>

    </div>
<% end %>