<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});

    function myCtrl($scope, $http) {
        $http.get('api/week_stats').success( function(data, status, headers, config) {

            for ( var w in data ) {
                var week = data[w];

                console.log(week);

                var table = [['Hours', 'Students']];
                for( var h in week ) {
                    table.push([h,week[h]]);
                }

                var graphData = google.visualization.arrayToDataTable(table);

                var options = {
                    hAxis: {title: 'Hours used', format:'#'},
                    vAxis: {title: 'Students', format:'#'},
                    legend: { position: 'none'}
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_'+w));
                chart.draw(graphData, options);
            }

        });
    }

</script>

<div ng-app data-ng-controller="myCtrl">

  <p id="notice"><%= notice %></p>

  <div class="header">

    <h1>
      <%= @course.name %>
      <%= @course.term %>
    </h1>

  </div>

  <ul>
    <% if @course.current_week<8 %>
    <li>
      <%= link_to "create a submission for week #{@course.current_week}", new_submission_path %>
    </li>
    <% end %>
    <li>
      <%= link_to "course page", @course.link %>
    </li>
    <li>
      <%= link_to 'See submission amount', submissions_course_path(@course) %>
    </li>

    <li>
      <%= link_to 'Give anonymous feedback', new_feedback_path %>
    </li>
  </ul>

  <h2>Statistics</h2>

  <% @stats.each do |stat| %>
      <h3>Week <%= stat.week %></h3>

      <div>
        total submissions <%= stat.submissions %> <br>
        used time in average <%= number_with_precision(stat.average_time, precision: 1) %> hours <br>
        completed exercises in average <%= number_with_precision(stat.average_exercises, precision: 1) %> <br>
      </div>

      <div class="stattable">

        <h4>hours used:</h4>
        <!--
        <table border="1">
          <tr>
            <th>hours</th>
            <% (0..stat.times.length-1).each do |t| %>
                <th><%= t %></th>
            <% end %>
          </tr>
          <td>students</td>
          <% (0..stat.times.length-1).each do |t| %>
              <td><%= stat.times[t] %></td>
          <% end %>
          </tr>
        </table>
        -->

      </div>

      <div id="chart_div_<%= stat.week %>" style="width: 600px; height: 200px;"></div>

      <div class="stattable">

        <h4>exercises completed:</h4>

        <table border="1">
          <tr>
            <th>number</th>
            <% (0..stat.exercises.length-1).each do |t| %>
                <th><%= t %></th>
            <% end %>
          </tr>
          <td>students</td>
          <% (0..stat.exercises.length-1).each do |t| %>
              <td><%= stat.exercises[t] %></td>
          <% end %>
          </tr>
        </table>

      </div>


  <% end %>

</div>
